@using KidKinder.Models.Entities
@model List<Communication>

<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Bize Ulaşabilirsin</span>
            </p>
            <h1 class="mb-4">Bizimle İletişime Geç</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   placeholder="Ad Soyad"
                                   required="required"
                                   data-validation-required-message="Lütfen Adı Soyad Alanını Doldurunuz" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email"
                                   required="required"
                                   data-validation-required-message="Lütfen Mail Alanını Doldurunuz" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text"
                                   class="form-control"
                                   id="subject"
                                   placeholder="Başlık"
                                   required="required"
                                   data-validation-required-message="Lütfen Başlık Alanını Doldurunuz" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control"
                                      rows="6"
                                      id="message"
                                      placeholder="Mesaj"
                                      required="required"
                                      data-validation-required-message="Lütfen Mesajınızı Doldurunuz"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4"
                                    type="submit"
                                    id="sendMessageButton">
                                Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-5 mb-5">
                    <p>
                       @item.Description
                    </p>
                    <div class="d-flex">
                        <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                           style="width: 45px; height: 45px"></i>
                        <div class="pl-3">
                            <h5>Adres</h5>
                            <p>@item.Address</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                           style="width: 45px; height: 45px"></i>
                        <div class="pl-3">
                            <h5>Email</h5>
                            <p>@item.Email</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                           style="width: 45px; height: 45px"></i>
                        <div class="pl-3">
                            <h5>Telefon</h5>
                            <p>+012 345 67890</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
                           style="width: 45px; height: 45px"></i>
                        <div class="pl-3">
                            <h5>Hizmet Saatleri</h5>
                            <strong>Pazartesi - Cuma:</strong>
                            <p class="m-0">08:00 - 17:00 </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
