
<li class="user-profile header-notification">
    <a href="#!" class="waves-effect waves-light">
        <img src="~/Template/KidAdmin/assets/images/pp.jpg" class="img-radius" alt="User-Profile-Image">
        <span>Serhat Demircioğlu</span>
        <i class="ti-angle-down"></i>
    </a>
    <ul class="show-notification profile-notification">
        <li class="waves-effect waves-light">
            <a href="/Admin/Index/">
                <i class="ti-layout-sidebar-left"></i> Profilim
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="/Login/LogOut/">
                <i class="ti-layout-sidebar-left"></i> Çıkış Yap
            </a>
        </li>
    </ul>
</li>