<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title"><i></i>
                    <h5 class="m-b-10">Kidkinder Admin Paneli</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Default/Index/">Kullanıcı Değiştir</a>
                    </li>
                   
            </div>
        </div>
    </div>
</div>


