@model List<KidKinder.Models.Entities.Teacher>
@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card shadow">
                    <div class="card-header bg-dark text-white">
                        <h5 class="m-0" style="font-size: 1.5rem;">Öğretmen Listesi</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option" style="font-size: 1.2rem;">
                                <li><i class="fas fa-wrench text-white"></i></li>
                                <li><i class="fas fa-expand text-white"></i></li>
                                <li><i class="fas fa-compress text-white"></i></li>
                                <li><i class="fas fa-sync text-white"></i></li>
                                <li><i class="fas fa-times text-white"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th style="font-size: 1.2rem;">#</th>
                                        <th style="font-size: 1.2rem;">Ad Soyad</th>
                                        <th style="font-size: 1.2rem;">Branş</th>
                                        <th style="font-size: 1.2rem;">Güncelle</th>
                                        <th style="font-size: 1.2rem;">Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="font-size: 1.1rem;">@item.TeacherId</td>
                                            <td style="font-size: 1.1rem;">@item.NameSurname</td>
                                            <td style="font-size: 1.1rem;">@item.Branch.BranchName</td>
                                            <td><a href="/Teacher/BringTeacher/@item.TeacherId" class="btn btn-outline-primary btn-sm rounded-pill"><i class="fas fa-edit"></i> Güncelle</a></td>
                                            <td><a href="/Teacher/DeleteTeacher/@item.TeacherId" class="btn btn-outline-danger btn-sm rounded-pill"><i class="fas fa-times-circle"></i> Sil</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Teacher/CreateTeacher/" class="btn btn-success btn-sm rounded-pill"><i class="fas fa-plus-circle"></i> Yeni Öğretmen Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
